<a href="https://colab.research.google.com/github/gamanma/scaler-python/blob/scaler_classes/List_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
#FIND THE MIN, MAX, AVG, SUM FOR THE GIVEN LIST [1,67, 54, 12, 34, 77, 89, 101, 120,5]

runs_virat =  [1,67, 54, 12, 34, 77, 89, 101, 120,5]
sum = 0

for i in runs_virat:
  sum += i

max = runs_virat[0]

for i in range (1,len(runs_virat)):
  if(max < runs_virat[i] ):
    max = runs_virat[i]


min = runs_virat[0]

for i in range (1,len(runs_virat)):
  if(min > runs_virat[i] ):
    min = runs_virat[i]



print('sum =', sum)
print('avg = ', sum/len(runs_virat))
print('max =', max)
print('min = ', min)

sum = 560
avg =  56.0
max = 120
min =  1