<a href="https://colab.research.google.com/github/gamanma/scaler-python/blob/scaler_classes/List_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#FIND THE MIN, MAX, AVG, SUM FOR THE GIVEN LIST [1,67, 54, 12, 34, 77, 89, 101, 120,5]

runs_virat =  [1,67, 54, 12, 34, 77, 89, 101, 120,5]
sum = 0

for i in runs_virat:
  sum += i

max = runs_virat[0]

for i in range (1,len(runs_virat)):
  if(max < runs_virat[i] ):
    max = runs_virat[i]


min = runs_virat[0]

for i in range (1,len(runs_virat)):
  if(min > runs_virat[i] ):
    min = runs_virat[i]



print('sum =', sum)
print('avg = ', sum/len(runs_virat))
print('max =', max)
print('min = ', min)

sum = 560
avg =  56.0
max = 120
min =  1

In [ ]:

runs_virat =  [1,67, 54, 12, 34, 77, 89, 101, 120,5]
# delete the element by indiex by using pop function
del_val = runs_virat.pop(1)
print(runs_virat)
print(del_val)

# remove function will delete the element from list by using value
runs_virat.remove(89)
print(runs_virat)

[1, 54, 12, 34, 77, 89, 101, 120, 5]
67
[1, 54, 12, 34, 77, 101, 120, 5]

In [ ]:
input_list = input()
print(input_list)
list = input_list.split(" ")
sum = 0
for i in list:
  sum += int(i)
print(sum)

5 1 2 3 4 5
5 1 2 3 4 5
20

In [ ]:
N = int(input())
input_list = input()
print(input_list)
list = input_list.split(" ")
position = int(input())
value = input()
list.insert(position - 1, value)
print(list)

4
1 2 3 4
1 2 3 4
2
5
['1', '5', '2', '3', '4', '']

In [ ]:
input_array = input()
list = input_array.split()
updated_list = input_array.split()
updated_list[0] = list[len(list) - 1]
print(updated_list)
print(list)
for i in range(0,len(list)-1):
    updated_list[i + 1] = list[i]
print(updated_list)

1 2 3 4
['4', '2', '3', '4']
['1', '2', '3', '4']
['4', '1', '2', '3']