<a href="https://colab.research.google.com/github/gamanma/scaler-python/blob/scaler_classes/list_2d_07_07_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
INPUT = [5, 1, 2, 3, 4]


OUTPUT = INPUT[:-1]
print(OUTPUT)
OUTPUT = [INPUT[-1]] + OUTPUT

print(OUTPUT)

[5, 1, 2, 3]
[4, 5, 1, 2, 3]

In [15]:
# INDEX - it returns the first occurence of the string in array

a = [1, 2, 3, 4, 5, 6, 7, 8, 3, 2]
print(a.index(2))

1

In [ ]:
# Nested List
# list are heterozygous - it contains multiple datatypes, list withing list
# Ex: ["Malla", 58, 48.25, True, False, [1, 2, 3, 4]]
# 2D example: [[1, 2, 3, 4],[1, 2, 4], [5, 5]] - list withing list size could be same or may not